<h1>Productos</h1>
<div class="card-group">
{{#each productoFinal}}
<div>
    <div class="card" style="width: 10rem;">
        <img src={{this.img}} class="card-img-top" alt="...">
        <div class="card-body">
             <h5 class="card-title">{{this.title}}</h5>
            <p>descripcion {{this.description}}</p>
            <p>precio : $ {{this.price}}</p>
            <p>categoria : {{this.category}}</p>
            <button> compra </button>
        </div>
    </div>
</div>
{{/each}}


</div>
{{#if hasPrevPage}}
    <a href="/api/products?limit={{limit}}&page={{prevPage}}"> Anterior </a>
{{/if}}

{{#if hasNextPage}}
    <a href="/api/products?limit={{limit}}&page={{nextPage}}"> Siguiente </a>
{{/if}}

<p> pagina {{currentPage}} de {{totalPages}}</p>